@mixin rectangle($width) {
  width: $width;
  overflow: hidden;

  &::after {
    content: '';
    display: block;
    margin-top: 100%;
  }
}

@mixin main-circle($width, $max-width) {
  max-width: $max-width;
  @include rectangle($width);
}

@mixin set-background-image($size) {
  background-size: $size;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin initial-button($bg-color) {
  background-color: $bg-color;
  border: none;
  outline: none;
  cursor: pointer;
}

@mixin rwd($device) {
  @if ($device == mobile) {
    @media all and (max-width: 768px) {
      @content;
    }
  }
  @else if ($device == pad) {
    @media all and (min-width: 769px) and (max-width: 1199px) {
      @content;
    }
  }
  @else if ($device == pc) {
    @media all and (min-width: 1200px) {
      @content;
    }
  }
}