$theme-color: (
  primary: #EA5548,
  secondary: #316901,
  assist: #B5E254,
);

$grayscale-color: (
  0: #FCFCFC,
  1: #EAEAEA,
  2: #ACACAC,
  3: #6E6E6E,
  4: #414141,
  5: #333333,
);

$pc-gap: 30px;
$pad-gap: 20px;
$mobile-gap: 10px;