$white: #FCFCFC;
$gray-light: #EAEAEA;
$gray-medium: #ACACAC;
$gray-medium-darker: #6E6E6E;
$gray-dark: #414141;
$black: #333333;
$red: #EA5548;
$green: #316901;

$pc-gap: 30px;
$pad-gap: 20px;
$mobile-gap: 10px;