.button-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  height: 100%;
  background-color: map-get($grayscale-color, 5);
  @include rwd(mobile) {
    height: 80px;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
  }

  &.to-close {
    @include rwd(mobile) {
      width: 0px;
    }

    .btn-change-page {
      @include rwd(mobile) {
        display: none;
      }
    }
  }
}

.btn {
  &-change-page {
    width: 80px;
    height: 80px;
    overflow: hidden;
    padding: 0;
    @include initial-button(transparent);
    @include set-background-image(cover);
    @include rwd(mobile) {
      display: block;
    }
  }

  &-toggle-open {
    width: 90px;
    height: 50px;
    border-radius: 25px 5px 5px 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 30px;
    right: 17px;
    z-index: 20;
    @include initial-button(map-get($grayscale-color, 0));
    @include rwd(mobile){
      right: unset;
      left: 0;
      bottom: 80px;
      border-radius: 5px 25px 25px 5px;
      width: 50px;
    }

    &-img {
      flex: 0 0 auto;

      &.tomato {
        width: 25px;
        @include rwd(mobile) {
          display: none;
        }
      }

      &.arrow {
        width: 20px;
      }
    }

    &.to-close {
      @include rwd(mobile) {
        right: 0px;
        left: unset;
        bottom: 10px;
        border-radius: 25px 5px 5px 25px;
      }

      .btn-toggle-open-img {
        &.arrow {
          transform: rotate(180deg);
        }
      }
    }
  }
}