.main-area {
  background-color: $gray-light;
  height: 100%;
  flex: 1 1 50%;
  overflow-y: scroll;
}

.logo{
  background-image: url('~@/assets/img/tomato_small_color.svg');
  @include set-background-image(contain);

  &-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    letter-spacing: 3.6px;
    color: #fff;
    font-weight: 100;
  }
}