.modal {
  &-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 25;
  }

  &-bgc {
    background-color: map-get($grayscale-color, 5);
    opacity: 0.9;
    width: 100vw;
    height: 100vh;
  }

  &-dialog {
    background-color: map-get($grayscale-color, 0);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    max-width: 600px;
    padding: 50px;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    @include rwd(mobile) {
      width: 90%;
      max-width: unset;
      padding: 50px 20px 40px 20px;
    }
  }

  &-title {
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1.2px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 20px;
  }

  &-content {
    font-size: 16px;
    letter-spacing: 0.8px;
    line-height: 24px;
    text-align: center;
  }

  &-btn-area {
    margin-top: 80px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    @include rwd(mobile) {
      flex-direction: column;
    }
  }
}