.my-button{
  padding: 17px 0;
  border-radius: 30px;
  font-size: 14px;
  letter-spacing: 1.4px;
  line-height: 17px;
  font-weight: 900;
  color: #fff;

  &.primary {
    @include initial-button(map-get($theme-color, primary));
  }

  &.secondary {
    @include initial-button(map-get($grayscale-color, 3));
  }

  &.border {
    background-color: transparent;

    &.primary {
      border: 2px solid map-get($theme-color, primary);
      color: map-get($theme-color, primary);
    }

    &.secondary {
      border: 2px solid map-get($grayscale-color, 3);
      color: map-get($grayscale-color, 3);
    }
  }

  &.pos-modal {
    flex: 1 1 auto;
    padding: 17px 50px;
    &:not(:last-child) {
      margin-right: 20px;
    }
    @include rwd(mobile) {
      margin-right: 0;
      margin-bottom: 20px;
    }

    &.secondary {
      color: map-get($grayscale-color, 0);
    }
  }

  &.pos-add-new-task {
    width: 100%;
    margin-top: 50px;
  }

  &.pos-analytic-panel {
    flex: 0 0 auto;
    padding: 12px 30px;
  }

  &.pos-tag-list {
    padding: 12px 15px;
    font-weight: 900;
    color: map-get($grayscale-color, 0);
    &:not(:last-child) {
      margin-right: 20px;
    }

    &.secondary {
      background-color: map-get($grayscale-color, 3);
    }

    &.primary {
      flex: 1 0 auto;
    }
  }
}