.aside-area {
  flex-shrink: 1;
  height: 100%;
  display: flex;
  background-color: map-get($grayscale-color, 5);

  @include rwd(mobile) {
    flex-direction: column-reverse;
  }
}

.aside-panel {
  width: calc(50vw - 80px);
  border-left: 2px solid map-get($grayscale-color, 4);
  overflow-y: scroll;
  @include rwd(mobile) {
    width: 100vw;
    flex-grow: 1;
  }
}

.aside-panel-enter-active,
.aside-panel-leave-active {
  transition: all .5s;
}

.aside-panel-enter,
.aside-panel-leave-to {
  width: 0;
  opacity: 0;
}

.aside-panel-enter-to,
.aside-panel-leave {
  width: calc(50vw - 80px);
  opacity: 1;

  @include rwd(mobile) {
    width: 100vw;
  }
}